body {
  background-color: #ffffff;
  width: 300px;
  height: 333px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
}

.popup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.popup-header {
  display: flex;
  align-items: center;
}

.popup-header img {
  margin-right: 10px;
}

.popup-header span {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.popup-btn .ant-btn {
  background: #268050;
  border-radius: 4px;
}

.popup-btn .ant-btn:hover {
  background: #268050;
}